
<input type="text" placeholder="DIGITE LA CIUDAD A BUSCAR" [(ngModel)]="ciudad">
<input type="button" (click)="buscar()" value="Buscar">
<div class="carta" 

[ngClass]="{
    'colordia': dia==='yes',
    'colornoche':dia==='no'
}"
>

    



    <div  *ngIf="dia==='yes'; else noche; else noche"> 
        <span id="dia" class="material-symbols-outlined">
            sunny
            </span>
    </div>
    <ng-template #noche>
        <span id="dia" class="material-symbols-outlined">
            clear_night
            </span>
    </ng-template>
        <p id="ciudad">{{ubicacion.query}}</p>
        <p id="temperatura">{{informacion.temperature}}</p>
        <p id="clima">{{clima}}</p>
        
 <div [ngSwitch]="clima">
    
        <span id="icono" *ngSwitchCase="'Clear'" class="material-symbols-outlined">
            Sunny
            </span>
            <span id="icono" *ngSwitchCase="'Partly cloudy'" class="material-symbols-outlined">
                partly_cloudy_day
                </span>
                <span id="icono" *ngSwitchCase="'Sunny'" class="material-symbols-outlined">
                  wb_sunny
                    </span>
                    <span id="icono" *ngSwitchCase="'Thundery outbreaks possible'" class="material-symbols-outlined">
                      bolt
                          </span>


    <div *ngSwitchDefault>sin nada</div>
  </div>
        
  
</div>

